<footer class="footer">
    <div class="row">
        <img src="/images/logo.png" alt="" class="footer__logo-box">
            
        <div class="footer__navigation">
            <ul class="footer__list">
                <a href="#" class="footer__link">Home</a>
                <a href="#" class="footer__link">Shop</a>
                <a href="#" class="footer__link">About Us</a>
                <a href="#" class="footer__link">Location</a>
                <a href="#" class="footer__link">Log In</a>
                <a href="#" class="footer__link">Sign Up</a>
            </ul>
        </div>
    </div>
</footer>
<!-- <p class="footer__copyright">
                Built by <a href="#" class="footer__link">Leonyyangela.</a>Copyright &copy; by Leoni Angela. You are 100% allowed to use this webpage for both personal and commercial use, but NOT to claim it as your own design. A credit to the original author, Leoni Angela, is of course highly appreciated.
            </p> -->
            
</body>
</html>