<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Restaurant Reservation</title>

    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/fontawesome/css/all.css">
</head>

<body>
    <div class="navbar">
        <div class="navbar__left">
            <div class="navbar__left__logo-box">
                <img src="/images/logo.png" alt="logo" class="navbar__left__logo">
            </div>
            
            <div class="navbar__left__menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/shops">Shop</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Location</a></li>
                </ul>
            </div>
        </div>
        
        <div class="navbar__center">&nbsp;</div>

        <div class="navbar__right">
            <ul>
                <% if (!currentUser) { %>
                    <li><a href="/login">Log In</a></li>
                    <li><a href="/register">Sign Up</a></li>
                <% } else { %>
                    <li>
                        <a href="#">Welcome, <%= currentUser.username %></a>
                        <a href="/logout">Logout</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>