
.header{
    height: 75vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-baby-blue, 0.8), 
        rgba($color-sand, 0.8)
        ), url(../images/header.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    // -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    // clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    
    // @include respond(phone){
    //     -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    //     clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);

    // }
    
    &__text-box{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}