.navbar{
    height: 8vh;
    font-size: 1.5rem;
    color: $color-coffee-dark;
    display: block;
    
    // @include respond(phone) {
    //     position: relative;
    //     display: block;
    // }

    &__logo {
        height: 5rem;

        &__box {
            padding: 0 4rem;
            position: absolute;
            background-size: cover;    
        }

        @include respond(phone) {
            display: none;
        }
    }

    &__right {
        float: right;
        display: block;
        text-align: center;
        text-decoration: none;
        padding: 1.4rem 2rem;
        list-style-type: none;

        &:active {
            left: 0;
        }

        @include respond(phone) {
            // display: none;
            width: 100%;
            margin: 5rem 0;
            position: absolute;
            z-index: 2;
            padding: 0;
            background-color: blanchedalmond;
            transition: 0.5s;
            left: -100%;            
        }   
    }

    a {
        text-decoration: none;
        padding: 1.5rem;
        color: $color-coffee-dark;

        &:hover {
            color: $color-coffee-light;
            cursor: pointer;
        }

        @include respond(phone) {
            display: block;
            padding: 2rem;
            border-bottom: 1px solid $color-coffee-dark;

            &:hover {
                color: $color-coffee-light;
            }

        }
    }
 
    &__menu-toggle {
        color: $color-coffee-dark;
        float: right;
        margin: 1.7rem 0;
        display: none;

        @include respond(phone) {
            display: block;
            margin: 1rem 1.7rem;
        }
    }
}
    