/* colors:
    Sand: #E5D7BE;
    Charcoal: #414754;
    Gray: #82807F;
    Baby Blue: #E3E8F0;
*/

@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/feature-box";
@import "components/card";
@import "components/product-box";
@import "components/form";
@import "components/beans-box";
@import "components/detail-product";

@import "layout/header";
@import "layout/grid";
@import "layout/navbar";
@import "layout/footer";

@import "pages/home";
