body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    // font-size: 1.6rem;
    line-height: 1.7;
    color: $color-coffee-dark;
}

.heading-primary{
    color: $color-coffee-dark;
    text-transform: uppercase;

    /* removes shadow */
    backface-visibility: hidden;
    margin-bottom: 3rem;

    &--main{
        display: block;
        font-size: 4.5rem;
        font-weight: 700;
        letter-spacing: 1.5rem;
        text-align: center;

        animation-name: moveInLeft;
        animation-duration: .7s;
        animation-timing-function: ease-out;
    
        @include respond(phone){
            letter-spacing: 1rem;
            font-size: 3rem;
        }


        /* animation-delay: 3s;    
        animation-iteration-count: 3; */
    }
    
    &--sub{
        display: block;
        font-size: 1.7rem;
        font-weight: 400;
        letter-spacing: 1rem;
        animation: moveInRight 1s ease-out;

        @include respond(phone){
            letter-spacing: .5rem;
            font-size: 1.4rem;
        }
    }
}

.heading-secondary {
    color: $color-coffee-brown;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    padding: 0 4rem 0 4rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    background-color: $color-beans-box;
    border: 1px solid $color-coffee-dark;

    @include respond(phone){
        letter-spacing: 1rem;
        font-size: 2rem;
        padding: 1.2rem;
    }
}

.heading-tertiary {
    color: $color-coffee-brown;
    text-align: center;
    
    /* removes shadow */
    backface-visibility: hidden;

    &--main {
        display: block;
        font-size: 1.9rem;
        font-weight: 700;
        text-align: center;
        letter-spacing: .5rem;
        padding-bottom: 1.5rem;

        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    
    }

    &--sub {
        display: block;
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: .3rem;   
        animation: moveInRight 1s;
    }

}

.heading-quaternary {
    color: $color-coffee-brown;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    padding: 0 4rem 0 4rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-decoration: underline;

    @include respond(phone){
        font-size: 1.6rem;
        padding: 2rem;
        margin: 0;
    }
    
}

.testimony {
    color: $color-coffee-sand;
    padding: 12rem;
    text-align: justify;
    
    border: 1px solid $color-coffee-dark;
    /* removes shadow */
    backface-visibility: hidden;

    &__person-name {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        padding-bottom: 2rem;

        @include respond(phone){
            text-align: center;
        }
    }

    &__text {
        display: block;
        font-size: 1.6rem;
        font-weight: 400;
        
        @include respond(phone){
            font-size: 1.5rem;
            padding: 1.5rem;
        }
    }

    @include respond(phone){
        padding: 0;
    }
}

.heading-footer {
    padding: 2rem;
    text-align: center;

    &--main {
        display: block;
        font-size: 3.5rem;
        font-weight: 800;
        margin-bottom: 1rem;
        color: $color-coffee-dark;
        
        border-bottom: .1rem solid $color-coffee-light;

    }

    &--sub {
        display: block;
        font-size: 1.9rem;
        font-weight: 400;
        padding-bottom: 2rem;
        color: $color-coffee-dark;
    }

    &--text {
        display: block;
        font-size: 1.9rem;
        font-weight: 400;
        color: $color-coffee-dark;
    }
}

.footer-store {
    padding: 3rem;
    text-align: center;

    &--main {
        display: block;
        font-size: 2rem;
        font-weight: 400;
        color: $color-coffee-dark;
    }

    &--sub {
        display: block;
        font-size: 1.7rem;
        font-weight: 400;
        color: $color-coffee-dark;
        padding-bottom: .5rem;
    }
}


.heading-product {
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    padding: 0 5rem 5rem 5rem;

    &__details {
        // padding-top: 2.3rem;

        &--name {
            display: block;
            font-size: 2rem;
            font-weight: 600;
            text-align: center;
            text-transform: uppercase;
            padding-top: 2rem;
            text-decoration: none;
            color: $color-coffee-dark;

            &:hover {
                color: $color-coffee-light;
                cursor: pointer;
            }
        }
    
        &--price {
            display: block;
            font-weight: 700;
            font-size: 1.6rem;
            text-align: center;
            color: $color-coffee-sand;
        }
    }
}

.product-desc {
    font-size: 2rem;
    font-weight: 400;

    &__desc {
        font-size: 2rem;
        text-align: justify;
        font-weight: 400;
    }

    &__price {
        font-size: 2.5rem;
        font-weight: 600;
        padding-bottom: 1rem;
    }
}

.heading-form {
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;

    animation: moveInRight 1s;
}