<% include partials/header %>

<header class="header__about">
    <div class="header__text-box">
        <h1 class="heading-primary__about">
            <span class="heading-primary--main">About Us</span>
            <span class="heading-primary--sub">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam, sapiente. Officia, vero rerum.</span>
        </h1>
    </div>
</header>

<div class="section-about-us">   
    <div class="row">
        <div class="col-1-of-2">
            <img src="/images/logo.png" alt="LOGO" class="logo-box">
        </div>
        
        <div class="col-1-of-2">
            <p class="about">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda eligendi culpa molestias ipsa debitis, nobis quidem illo minus ipsum quos dolores, quisquam voluptates repellendus, amet alias repudiandae vitae et illum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam cum facilis perferendis earum voluptatem nesciunt debitis harum veniam, omnis ipsum quaerat minima id at laudantium vero quibusdam accusantium molestiae soluta. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea quia accusamus neque inventore voluptates! Accusantium quos consequatur autem ipsum, odio dolorum, obcaecati enim, architecto voluptatum suscipit iure illo excepturi aut?</p>        
        </div>
    </div>
</div>

<% include partials/footer %>