<% include partials/header %>

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.2/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.2/mapbox-gl.css' rel='stylesheet' />

<div id='map'></div>
<div class="row">
    <div class="mapbox-location">
        <div class="col-1-of-2">

            <h1 class="heading-location">
                <span class="heading-location--main">Washington, D.C</span>
                <span class="heading-location--sub">
                    Opening Hours: <br>Mon - Thu,8AM- 11PM<br>Fri - Sun, 8AM - 1AM
                </span>
            </h1>
                
        </div>
    
        <div class="col-1-of-2">
            <h1 class="heading-location">
                <span class="heading-location--main">
                    San Francisco, California
                </span>
                
                <span class="heading-location--sub">
                    Opening Hours: <br>Mon - Thu, 8AM- 11PM<br>Fri - Sun, 8AM - 1AM
                </span>
            </h1>
        </div>
    </div>
</div>

<script>
mapboxgl.accessToken='<%= process.env.MAPBOX_TOKEN %>';
	
var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/light-v10',
  center: [-96, 37.8],
  zoom: 3
});

var geojson = {
	type: 'FeatureCollection',
	features: [{
		type: 'Feature',
		geometry: {
			type: 'Point',
			coordinates: [-77.032, 38.913]
		},
		properties: {
			title: 'Mapbox',
			description: 'Washington, D.C.'
		}
	},
  	{
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-122.414, 37.776]
    },
    properties: {
      title: 'Mapbox',
      description: 'San Francisco, California'
    }
  }]
};
	
    // add markers to map
    geojson.features.forEach(function(marker) {
    // create a HTML element for each feature
    var el = document.createElement('div');
    el.className = 'marker';
    // make a marker for each feature and add to the map
    new mapboxgl.Marker(el)
    .setLngLat(marker.geometry.coordinates)
    .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
    .setHTML('<h3>' + marker.properties.title + '</h3><p>' + marker.properties.description + '</p>'))
    .addTo(map);
    });
</script>

<% include partials/footer %>