<% include partials/header %>

    <form action="/login" method="post">
        <label for="username" name="username">Username: </label>
        <input type="text" name="username" id="" placeholder="Your Username" required>

        <label for="password" name="password">Password:</label>
        <input type="password" name="password" placeholder="Your Password" required>

        <button>Submit</button>
    </form>

<% include partials/footer %>