<% include partials/header %>

<div class="section-form">
    <div class="row">     
        <h1 class="heading-form">Register</h1>

        <div class="form">
            <div class="form__box">
                <div class="form__box--left">
                    <form action="/register" method="post">
                        <div class="form__group">
                            <label for="username" name="username" class="form__box__label">Username: </label>
                            <input type="text" name="username" class="form__box__input" placeholder="Your Username" required>
                        </div>
                        
                        <div class="form__group">
                            <label for="password" name="password" class="form__box__label">Password:</label>
                            <input type="password" name="password" class="form__box__input" placeholder="Your Password" required>
                        </div>
                        
                        <div class="form__group">
                            <button class="button-primary btn--animated">Submit</button>
                        </div>
                        
                    </form>
                </div>

                <div class="form__box--right">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>