<% include partials/header %>

    <header class="header">
        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main">Made with love</span>
                <span class="heading-primary--sub">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam, sapiente. Officia, vero rerum.</span>
            </h1>

            <a href="" class="btn btn--gray btn--animated">book now</a>
        </div>
    </header>

    <main>
        <section class="section-beans">
            <div class="row">
                <h1 class="heading-secondary">Our Beans</h1>

                <div class="col-1-of-4">
                    <div class="beans-box">
                        <div class="beans-box__image--1">
                            &nbsp;
                        </div>

                        <div class="beans-box__details">
                            <h2 class="heading-tertiary">
                                <span class="heading-tertiary--main">Roasted Coffee</span>
                                <span class="heading-tertiary--sub">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span>
                            </h2>
                        </div>
                    </div>
                </div>

                <div class="col-1-of-4">
                    <div class="beans-box">
                        <div class="beans-box__image--2">
                            &nbsp;
                        </div>

                        <div class="beans-box__details">
                            <h2 class="heading-tertiary">
                                <span class="heading-tertiary--main">Light Coffee</span>
                                <span class="heading-tertiary--sub">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span>
                            </h2>
                        </div>
                    </div>
                </div>

                <div class="col-1-of-4">
                    <div class="beans-box">
                        <div class="beans-box__image--3">
                            &nbsp;
                        </div>

                        <div class="beans-box__details">
                            <h2 class="heading-tertiary">
                                <span class="heading-tertiary--main">Espresso Coffee</span>
                                <span class="heading-tertiary--sub">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span>
                            </h2>
                        </div>
                    </div>
                </div>

                <div class="col-1-of-4">
                    <div class="beans-box">
                        <div class="beans-box__image--4">
                            &nbsp;
                        </div>

                        <div class="beans-box__details">
                            <h2 class="heading-tertiary">
                                <span class="heading-tertiary--main">Dark Coffee</span>
                                <span class="heading-tertiary--sub">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span>
                            </h2>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="section-testimony">
            <h1 class="heading-quaternary">Our Testimonial</h1>
            
            <div class="feature-box">
                <h1 class="testimony">
                    <span class="testimony__person-name">Teresa Shultz</span>
                    <span class="testimony__text">“I just woke up and made myself a White Chocolate Peppermint Latte with your Espresso Beans. It is so amazing. It helps me feel better and wake up whenever I am down. ”</span>
                </h1>
            </div>

        </section>
    </main>

<% include partials/footer %>