<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Restaurant Reservation</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav class="navbar">
        <div class="navbar__left">
            <div class="navbar__logo">Rest<br>Reserv.</div>
            </div>
        </div>
    
        <div class="navbar__center">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Reservation</a></li>
                <li><a href="#">Location</a></li>
            </ul>
        </div>

        <div class="navbar__right">
                <ul>
                    <li><a href="#">Log In</a></li>
                    <li><a href="#">Sign Up</a></li>
                </ul>
            </div>
    </nav>

    <header class="header">
        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main">eat. be happy. repeat.</span>
            </h1>

            <a href="" class="btn btn--gray btn--animated">book now</a>
        </div>
    </header>

    <main>
        <section class="section-book">
            <div class="row">
                <div class="col-1-of-5">
                    <div class="feature-box">
                        <form action="#" class="form">
                            <div class="form__group">
                                <label for="location" class="form__label">Location</label><br>
                                <input type="text" class="" placeholder="Location" required>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-1-of-5">
                    <div class="feature-box">
                        <form action="#" class="form">
                            <div class="form__group">
                                <label for="date" class="form__label">Date</label><br>
                                <input type="date" class="" placeholder="date" required>
                            </div>
                        </form>
                    </div>
                </div>
                
                <div class="col-1-of-5">
                    <div class="feature-box">
                        <form action="#" class="form">
                            <div class="form__group">
                                <label for="time" class="form__label">Time</label><br>
                                <input type="time" class="" placeholder="00:00" required>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-1-of-5">
                    <div class="feature-box">
                        <form action="#" class="form">
                            <div class="form__group">
                                <label for="number-of-people" class="form__label">Number of people</label><br>
                                <input type="number" class="" placeholder="1" required>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-1-of-6">
                    <div class="feature-box">
                        <form action="#" class="form">
                            <div class="form__group">
                                <button class="btn btn-xs">Reserve</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-popular">
            <h1 class="heading-secondary">
                <span class="heading-secondary--main">Popular Restaurant in 2019</span>
                <span class="heading-secondary--sub">Take a look at this offer</span>
            </h1>
            
            <div class="row">
                <div class="col-1-of-3">
                    <div class="card">
                        <div class="card__picture card__picture--1">
                            &nbsp;
                        </div>

                        <h1 class="card__heading">
                            <span class="card__heading-span">Nmaaz Dining</span>
                        </h1>

                        <div class="card__details">
                            <ul>
                                <li>Up to 100 people</li>
                                <li>Five Star Hotel</li>
                                <li>Western Food</li>
                                <li>Price: $$$</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-1-of-3">
                    <div class="card">
                        <div class="card__picture card__picture--2">
                            &nbsp;
                        </div>

                        <h1 class="card__heading">
                            <span class="card__heading-span">Nmaaz Dining</span>
                        </h1>

                        <div class="card__details">
                            <ul>
                                <li>Up to 100 people</li>
                                <li>Five Star Hotel</li>
                                <li>Western Food</li>
                                <li>Price: $$$</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-1-of-3">
                    <div class="card">
                        <div class="card__picture card__picture--3">
                            &nbsp;
                        </div>

                        <h1 class="card__heading">
                            <span class="card__heading-span">Cruiz Dining</span>
                        </h1>

                        <div class="card__details">
                            <ul>
                                <li>Up to 100 people</li>
                                <li>Five Star Hotel</li>
                                <li>Western Food</li>
                                <li>Price: $$$</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>
</html>