<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Restaurant Reservation</title>

    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/fontawesome/css/all.css">
</head>

<body>
    <div class="navbar">
        <div class="navbar__left">
            <div class="navbar__left__logo-box">
                <img src="/images/logo.png" alt="logo" class="navbar__left__logo">
            </div>
            
            <div class="navbar__left__menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Location</a></li>
                </ul>
            </div>
        </div>
        
        <div class="navbar__center">&nbsp;</div>

        <div class="navbar__right">
            <ul>
                <li><a href="#">Log In</a></li>
                <li><a href="#">Sign Up</a></li>
            </ul>
        </div>
    </div>

    <header class="header">
        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main">Made with love</span>
                <span class="heading-primary--sub">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam, sapiente. Officia, vero rerum.</span>
            </h1>

            <a href="" class="btn btn--gray btn--animated">book now</a>
        </div>
    </header>

    <main>
        <section class="section-beans">
            <div class="row">
                <h1 class="heading-secondary">Our Beans</h1>

                <div class="col-1-of-4">
                    <div class="beans-box">
                        <div class="beans-box__image--1">
                            &nbsp;
                        </div>

                        <div class="beans-box__details">
                            <h2 class="heading-tertiary">
                                <span class="heading-tertiary--main">Roasted Coffee</span>
                                <span class="heading-tertiary--sub">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span>
                            </h2>
                        </div>
                    </div>
                </div>

                <div class="col-1-of-4">
                    <div class="beans-box">
                        <div class="beans-box__image--2">
                            &nbsp;
                        </div>

                        <div class="beans-box__details">
                            <h2 class="heading-tertiary">
                                <span class="heading-tertiary--main">Light Coffee</span>
                                <span class="heading-tertiary--sub">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span>
                            </h2>
                        </div>
                    </div>
                </div>

                <div class="col-1-of-4">
                    <div class="beans-box">
                        <div class="beans-box__image--3">
                            &nbsp;
                        </div>

                        <div class="beans-box__details">
                            <h2 class="heading-tertiary">
                                <span class="heading-tertiary--main">Espresso Coffee</span>
                                <span class="heading-tertiary--sub">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span>
                            </h2>
                        </div>
                    </div>
                </div>

                <div class="col-1-of-4">
                    <div class="beans-box">
                        <div class="beans-box__image--4">
                            &nbsp;
                        </div>

                        <div class="beans-box__details">
                            <h2 class="heading-tertiary">
                                <span class="heading-tertiary--main">Dark Coffee</span>
                                <span class="heading-tertiary--sub">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span>
                            </h2>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="section-testimony">
            <h1 class="heading-quaternary">Our Testimonial</h1>
            
            <div class="feature-box">
                <h1 class="testimony">
                    <span class="testimony__person-name">Teresa Shultz</span>
                    <span class="testimony__text">“I just woke up and made myself a White Chocolate Peppermint Latte with your Espresso Beans. It is so amazing. It helps me feel better and wake up whenever I am down. ”</span>
                </h1>
            </div>

        </section>
    </main>

    <footer class="footer">
        <div class="row">
            <img src="/images/logo.png" alt="" class="footer__logo-box">
                
            <div class="footer__navigation">
                <ul class="footer__list">
                    <a href="#" class="footer__link">Home</a>
                    <a href="#" class="footer__link">Reservation</a>
                    <a href="#" class="footer__link">Location</a>
                    <a href="#" class="footer__link">Log In</a>
                    <a href="#" class="footer__link">Sign Up</a>
                </ul>
            </div>
            <!-- <div class="col-1-of-3">
                <h1 class="heading-footer">
                    <span class="heading-footer--main">Treat Yourself</span>
                    <span class="heading-footer--sub">Sip and Drink</span>
                    <span class="heading-footer--text">We always make coffee with love.</span>                    
                </h1>
            </div>

            <div class="col-1-of-3">
                <h1 class="footer-store">
                    <span class="footer-store--main">Opening Store:</span>
                    <span class="footer-store--sub">Mon - Fri. 10AM - 10PM</span>
                    <span class="footer-store--sub">Sat - Sun. 10AM - 2AM</span>
                </h1>
                
                
            </div>

            <div class="col-1-of-3">
                <div class="footer__navigation">
                    <ul class="footer__list">
                        <li><a href="#" class="footer__link">Home</a></li>
                        <li><a href="#" class="footer__link">Reservation</a></li>
                        <li><a href="#" class="footer__link">Location</a></li>
                        <li><a href="#" class="footer__link">Log In</a></li>
                        <li><a href="#" class="footer__link">Sign Up</a></li>
                    </ul>
                </div>
            </div> -->
        </div>
    </footer>
<!-- <p class="footer__copyright">
                    Built by <a href="#" class="footer__link">Leonyyangela.</a>Copyright &copy; by Leoni Angela. You are 100% allowed to use this webpage for both personal and commercial use, but NOT to claim it as your own design. A credit to the original author, Leoni Angela, is of course highly appreciated.
                </p> -->
                
</body>
</html>