// .section-about{
//     background-color: $color-grey-light-1;
//     padding: 25rem 0;
//     margin-top: -20vh;
// }

// .section-features{
//     padding: 20rem 0;
//     background-image: linear-gradient(
//         to right bottom, 
//         rgba($color-primary, 0.8), 
//         rgba($color-primary-light, 0.8)
//         ), url(../img/nat-4.jpg);
//     background-size: cover;
//     transform: skewY(-7deg);
//     margin-top: -10rem;

//     // .section-features skew the row back
//     & > * {
//         transform: skewY(7deg);
//     }
// }

// .section-tours{
//     background-color: $color-grey-light-1;
//     padding: 25rem 0 15rem 0;
//     margin-top: -10rem;
// }

// .section-stories{
//     position: relative;
//     padding: 15rem 0;
//     // background-color: $color-grey-light-1;
// }

.section-book{
    // padding: 15rem 0;
    background-color: $color-charcoal;
    height: 20vh;
    display: inline-flexbox;
    flex-wrap: wrap;
    // background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    .book {
        color: $color-baby-blue;
        padding: 1rem 0;
        background-color: blueviolet;

        &__text {    
            background-color: rgb(161, 212, 161);
            text-align: center;
            font-size: 2.5rem;
            width: 20%;
        }
    
        &__form {
            display: inline-flex;
            width: 80%;
        }
    }
}

