.section-beans {
    padding: 10rem;
    background-color: $color-coffee-medium;
}

.section-testimony {
    margin: 7rem;
    padding: 7rem;
    border: 1px solid $color-coffee-dark;
}

.section-products {
    padding: 5rem;
    background-color: honeydew;
}

.section-detail-product {
    padding: 10rem;
    background-color: beige;
}

.section-form {
    padding: 10rem;
    background-color: burlywood;
}
