.section-beans {
    padding: 10rem;
    background-color: $color-coffee-medium;

    @include respond(phone){
        padding: 7rem;
    }
}

.section-testimony {
    margin: 7rem;
    padding: 7rem;
    border: 1px solid $color-coffee-dark;

    @include respond(phone){
        padding: 3.5rem;
        height: 63vh;
    }
}

.section-products {
    padding: 5rem;
    background-color: honeydew;
}

.section-detail-product {
    padding: 10rem;
    background-color: beige;
}

.section-form {
    padding: 10rem;
    background-color: #E7DFC6;
}
