<% include ../partials/header %>
    
    <section class="section-products">
        <div class="row">
            <h1 class="heading-product">Items in our Shop</h1>
            
            <div class="col-1-of-4">
                <div class="product-box">
                    <div class="product-box__image-product">
                        <img src="/images/coffee-mug.jpg" alt="" class="product-box__image-product">
                    </div>
                    
                    <h1 class="heading-product__details">
                        <a class="heading-product__details--name" href="/shops/product-details">Coffee Mug</a>
                        <p class="heading-product__details--price">$4.90</p>
                    </h1>

                    <div class="product-box__button-box">
                        <a href="" class="btn-square btn-square--gray btn-square--animated">add to cart</a>
                    </div>
                </div>
            </div>


            <div class="col-1-of-4">
                <div class="product-box">
                    <div class="product-box__image-product">
                        <img src="/images/single-coffee-cup.jpg" alt="" class="product-box__image-product">
                    </div>
                    
                    <h1 class="heading-product__details">
                        <span class="heading-product__details--name">Coffee Mug</span>
                        <span class="heading-product__details--price">$4.90</span>
                    </h1>
                </div>
            </div>

            <div class="col-1-of-4">
                <div class="product-box">
                    <div class="product-box__image-product">
                        <img src="/images/coffee-mug.jpg" alt="" class="product-box__image-product">
                    </div>
                    
                    <h1 class="heading-product__details">
                        <span class="heading-product__details--name">Coffee Mug</span>
                        <span class="heading-product__details--price">$4.90</span>
                    </h1>
                </div>
            </div>


            <div class="col-1-of-4">
                <div class="product-box">
                    <div class="product-box__image-product">
                        <img src="/images/coffee-mug.jpg" alt="" class="product-box__image-product">
                    </div>
                    
                    <h1 class="heading-product__details">
                        <span class="heading-product__details--name">Coffee Mug</span>
                        <span class="heading-product__details--price">$4.90</span>
                    </h1>
                </div>
            </div>
        </div>

    </section>

<% include ../partials/footer %>