.beans-box {
    padding: 2rem;
    width: 24rem;
    height: 45rem;
    background-color: $color-beans-box;
    border: 1px solid $color-coffee-dark;

    &__image--1 {
        border-radius: 20rem 20rem 20rem 20rem;
        -moz-border-radius: 20rem 20rem 20rem 20rem;
        -webkit-border-radius: 20rem 20rem 20rem 20rem;
        background-image: url(/images/double-coffee-bottle.jpg);
        width: 20rem;
        height: 20rem;
        background-size: cover;
        background-position: top;
    }

    &__image--2 {
        border-radius: 20rem 20rem 20rem 20rem;
        -moz-border-radius: 20rem 20rem 20rem 20rem;
        -webkit-border-radius: 20rem 20rem 20rem 20rem;
        background-image: url(/images/disposable-coffee-cup.jpg);
        width: 20rem;
        height: 20rem;
        background-size: cover;
        background-position: top;
    }

    &__image--3 {
        border-radius: 20rem 20rem 20rem 20rem;
        -moz-border-radius: 20rem 20rem 20rem 20rem;
        -webkit-border-radius: 20rem 20rem 20rem 20rem;
        background-image: url(/images/coffee-mug.jpg);
        width: 20rem;
        height: 20rem;
        background-size: cover;
        background-position: top;
    }

    &__image--4 {
        border-radius: 20rem 20rem 20rem 20rem;
        -moz-border-radius: 20rem 20rem 20rem 20rem;
        -webkit-border-radius: 20rem 20rem 20rem 20rem;
        background-image: url(/images/coffee-container.jpg);
        width: 20rem;
        height: 20rem;
        background-size: cover;
        background-position: top;
    }

    &__details {
        padding: 2rem;
    }
   
    &__image-product {
        background-size: cover;
        width: 20rem;
    }

}