.card {
    height: 72vh;
    background-color: $color-gray;
    position: relative;
    color: $color-white;

    &__picture{
        background-size: cover;
        height: 23rem;
        
        &--1{
            background-image: url(../../images/restaurant-1.jpg);
        }

        &--2{
            background-image: url(../../images/restaurant-2.jpg);
        }

        &--3{
            background-image: url(../../images/restaurant-3.jpg);
        }
    }

    &__heading {
        font-size: 1.9rem;
        text-align: center;
        padding-top: .5rem;
    }

    &__heading-span {
        text-align: center;
        font-weight: 300;
        text-transform: uppercase;
    }

    &__details{
        padding: .2rem;

        ul{
            list-style: none;
            width: 80%;
            margin: 0 auto;
            
            li{
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;
    
                &:not(:last-child){
                    border-bottom: 1px solid $color-charcoal;
                }
            }
        }
    }
}