.detail-product {
    position: relative;
    width: 100%;
    
    &__heading {
        text-align: center;
        padding: 2rem;
        text-transform: uppercase;
        font-weight: 600;
        animation: moveInBottom 1.5s;
    }

    &__image {
        height: 39rem;

        @include respond(tab-port) {
            height: 15rem;
            display: block;
            margin: auto;
        }

        @include respond(phone) {
            height: 15rem;
            display: block;
            margin: auto;
        }
    }

    &__desc {
        width: 50%;
        height: 36rem;
        padding: 5rem;
        background-color: white;
        position: absolute;
        left: 58rem;
        top: 26rem;
        animation: moveInLeft .8s;

        @include respond(tab-port) {
            position: static;
            display: block;
            margin: 2rem auto;
            padding: 1rem;
            height: 90vh;
            width: 100%;
        }

        @include respond(phone) {
            position: static;
            display: block;
            margin: 2rem auto;
            padding: 1rem;
            height: 90vh;
            width: 100%;
        }
    }

    &__button-box {
        display: flex;
        justify-content: flex-start;
        
        &--left {
            padding-right: 2rem;
            
            @include respond(tab-port) {
                padding: 0;
            }
    
            @include respond(phone) {
                padding: 1rem 0;
            }
        }

        &--center {
            padding-right: 2rem;

            @include respond(tab-port) {
                padding: 0rem 0;
            }
    
            @include respond(phone) {
                padding: 0rem 0;
            }
        }

        &--right {
            padding-right: 0rem;

            @include respond(tab-port) {
                padding: 1 rem 0; 
            }
    
            @include respond(phone) {
                padding: 1rem 0;
            }
        }

        @include respond(tab-port) {
            padding: 1rem;
            display: block;
            margin: -4rem 0;
        }

        @include respond(phone) {
            padding: 1rem;
            display: block;
            margin: -4rem 0;
        }
        

    }
  
}