// Sand: #E5D7BE;
// Charcoal: #414754;
// Gray: #82807F;
// Baby Blue: #E3E8F0;
$color-coffee-light: #FFAF69;
$color-coffee-sand: #C98765;
$color-coffee-medium: #C98765;
$color-coffee-brown: #764134;
$color-coffee-dark: #3F1F00;

$color-sand: #E5D7BE;
$color-charcoal: #414754;
$color-gray: #82807F;
$color-baby-blue: #E3E8F0;
$color-beans-box: #F5DEB3;


$color-white: #fff;
$color-black: #000;

// font
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 8rem;
$gutter-horizontal-small: 6rem;

